html, body {
  height: 100%;
}

.background {
  background-image: url("../public/TMQ_background.png");
  background-repeat: repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.main {
  flex-grow: 1;
  margin: 1rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: rgba(211,211,211,.95);
}

.hidden{
  display: none!important;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
  flex-direction: row;
}