.background {
  background-image: url("../public/ChireidenMinimalized.png");
  background-repeat: repeat;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.main {
  min-height: 100vh;
  padding: 2rem .5rem;
  margin: .5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgba(211,211,211,.95);
}